@page {
    size: A4 portrait;
    margin: 15mm;
}

body{
    background:#cfcfcf;
    font-family:"Times New Roman", serif;
    margin: 0;
    padding: 0;
}

.paper{
    width:700px;
    margin:30px auto;
    background:white;
    padding:40px;
    border:1px solid black;
    box-sizing: border-box;
}

/* HEADER */
.student-line{
    font-weight:bold;
    margin-bottom:20px;
}

.header{
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

.logo-wrap {
    display: table-cell;
    width: 110px;
    vertical-align: middle;
}

.logo{
    width:90px;
    height: auto;
}

.header-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.header-text h2,
.header-text h3{
    margin:3px;
}

.subject{
    letter-spacing:2px;
    text-align:center;
}

.center{
    text-align:center;
}

/* TWO COLUMN LAYOUT */
.two-columns{
    display: table;
    width: 100%;
    margin-top:25px;
}

/* LEFT SIDE */
.instructions{
    display: table-cell;
    width:52%;
    vertical-align: top;
    line-height:1.6;
    padding-right: 15px;
}

/* RIGHT SIDE */
.table-area{
    display: table-cell;
    width:48%;
    vertical-align: top;
}

.top-right-info{
    text-align:right;
    font-size:14px;
    margin-bottom:10px;
    line-height:1.4;
}

/* TABLE DESIGN */
.exam-table{
    width:100%;
    border-collapse:collapse;
    font-size:13px;
    table-layout: fixed;
}

.exam-table th,
.exam-table td{
    border:1px solid black;
    text-align:center;
    height:32px;
    padding: 2px;
}

.total-row td{
    height:28px;
}

.exam-table th:nth-child(1),
.exam-table td:nth-child(1){ width:30%; }

.exam-table th:nth-child(2),
.exam-table td:nth-child(2){ width:25%; }

.exam-table th:nth-child(3),
.exam-table td:nth-child(3),
.exam-table th:nth-child(4),
.exam-table td:nth-child(4){ width:22.5%; }

.no-border{
    border-left: none !important;
    border-bottom: none !important;
}

.lined{
width:100%;
border:none;
outline:none;
resize:none;
font-family:"Times New Roman";
font-size:16px;
line-height:28px;
background-image: linear-gradient(to bottom, transparent 27px, black 28px);
background-size:100% 28px;
}

.nav{text-align:center;margin-top:20px}
button{padding:10px 20px;font-size:16px}