<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Teacher Portal</title>

<link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<!-- HEADER -->
<div class="header">

    <div class="header-left">
        <span class="dashboard-title">Teacher / Moderator Portal</span>
    </div>

    <div class="header-right">
        <div class="profile">
            <span>{{ session.name }}</span>
            <a href="/logout">Logout</a>
            <img src="/static/images/user.png">
        </div>
    </div>

</div>

<!-- LAYOUT -->
<div class="dashboard">

    <!-- SIDEBAR (TEACHER + MODERATOR ONLY) -->
    <div class="sidebar">

        <a href="/teacher/dashboard">Dashboard</a>

        <a href="/teacher/assigned_exams">Item Writer Tasks</a>

        <a href="/teacher/moderation-exams">Moderator Tasks</a>

        <a href="/teacher/my-submissions">My Submissions</a>

    </div>

    <!-- CONTENT -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>