<!DOCTYPE html>
<html>
<head>
<title>Edit Student</title>
<link rel="stylesheet" href="/static/css/admin.css">
<link rel="stylesheet" href="/static/css/form.css">
</head>

<body>

<div class="header">
    <span class="dashboard-title">Edit Student</span>
</div>

<div class="content">

<div class="card">

<h2>Edit Student</h2>

<form method="POST">

<input type="text" name="name" value="{{ student.name }}" required>

<select name="class" required>
    <option value="Form 1" {% if student.class=='Form 1' %}selected{% endif %}>Form 1</option>
    <option value="Form 2" {% if student.class=='Form 2' %}selected{% endif %}>Form 2</option>
</select>

<button class="btn">Update Student</button>

</form>

</div>

</div>

</body>
</html>